# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CC132FluidSimulation.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\CC132FluidSimulation\.idea\.idea.CC132FluidSimulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
